---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout>
  <style slot="head">
    main {
      width: 960px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    ul li {
      width: calc(50% - 1rem);
    }
    ul li:first-child {
      width: 100%;
      text-align: center;
    }
    ul li img {
      border-radius: 12px;
    }
  </style>

  <section>
    {posts.length > 0 ? (
      <ul>
        {posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>
              {post.data.heroImage && (
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt={post.data.title}
                />
              )}
              <h4>{post.data.title}</h4>
              <p>
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <p>No posts available.</p>
    )}
  </section>
</BaseLayout>
