---
import { Image } from 'astro:assets';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0,3);
---
<style>
	#recent-posts-intro ul {
	list-style: none;
	padding: 0.5rem;
	margin: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: stretch; 
	justify-content: center;
	gap: 1rem;
}
	
	#recent-posts-intro h2 {
	text-align: center;

}

#recent-posts-intro li {
	text-align: center;
	border: 1px solid rgb(var(--gray-light));
	border-radius: 8px;
	padding: 1rem;
	width: 20%;
}

#recent-posts-intro a {
	text-decoration: none;
	color: inherit;
	display: block;
}
#recent-posts-intro .title {
	font-size: 1.4rem;
}

#recent-posts-intro .date {
	font-size: 0.9rem;
	color: rgb(var(--gray));
}

</style>

<BaseLayout>
	<body>
		<main>
			<h1>Hey there.</h1>
			<p>
				This is a space I would like to dedicate to my tech adventures, endeavours, deep dive into new domains and so on! <code>divyesh.is-cool.dev</code> will contain devlogs, writing about new discoveries and explorations into the fields of embedded hardware, and Linux development.
			</p>
			<p>
                I am currently focused on SleeQC, a TinyML framework, and optimizing neural networks for bare-metal environments. Visit the <code>about</code> page for my full journey and technical roadmap.
            </p>
			
		</main>
		
		<section id="recent-posts-intro">
			<h2>Recent Posts</h2>
				<ul>
					{ posts.length >0 ? posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt={post.data.title} loading={'eager'} />
									)}
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						)) : 'No Posts Available.'
					}
				</ul>
			</section>
	</body>
</BaseLayout>
